.order_history {
    .mgBottom {
        margin-bottom: 10px;
    }
    .avatar {
        width: 127px;
        height: 125px;
        background-color: #fcb040;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
    }
    .stepActive {
        border-left: 1px solid rgb(219, 138, 67);
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .stepActive::before {
        content: ""; // :before and :after both require content
        position: absolute;
        background-image: url("../../../assets/icons/radio-active.svg");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
        margin-left: -29px;
    }
    .stepHidden {
        border-left: 1px solid rgb(219, 138, 67);
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .stepHidden::before {
        content: ""; // :before and :after both require content
        position: absolute;
        background-image: url("../../../assets/icons/radio-hidden.svg");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
        margin-left: -29px;
    }
    .done {
        color: #00b517;
    }
    .process {
        color: #3167eb;
    }
    .waiting {
        color: #fcb040;
    }
    .accept {
        color: #02b4db;
    }

    .orderLink {
        cursor: pointer;
        color: #bdbdbd;
    }

    .wapperLoading {
        width: calc(100vw - 240px);
        height: calc(100vh - 138px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .progressbar {
        counter-reset: step;
        padding: 0;

        /* New */
        display: table;
        table-layout: fixed;
        width: 100%;
        li {
            list-style: none;
            position: relative;
            text-align: center;

            /* New */
            display: table-cell;
            z-index: 2;
            &::before {
                background: #fff;
                border-radius: 50%;
                color: #bebebe;
                content: counter(step);
                counter-increment: step;
                display: block;
                height: 30px;
                line-height: 30px;
                margin: 0 auto 10px;
                text-align: center;
                width: 30px;
            }
            &::after {
                background: #00b517;
                content: "";
                height: 3px;
                left: 50%;
                position: absolute;
                top: 15px;
                width: 100%;
                z-index: -1;
            }
            &:last-child::after {
                content: none;
            }
            .complete::after {
                background: #00b517;
            }
            &.complete::before {
                background: #00b517;
                color: #fff;
            }
            &.active:before {
                background: #ffd9d9;
                color: #ef4036;
            }
            &.complete {
                color: #333;
            }
        }
    }
}
