.customSelect {
  .ant-select-selector {
    display: flex;
    align-items: center;
    border-radius: 6px !important;
  
  }
}
.bordered {
  .ant-select-selector {
    display: flex;
    align-items: center;
    border-radius: 6px !important;
  }
}

.ant-input[disabled],
.ant-picker.ant-picker-disabled,
.ant-select-multiple.ant-select-disabled.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  background-color: #fff;
}

.shipperPage {
  .booth_incharse {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
  }
}

.shipperDetailWrapper {
  .ant-form-item {
    margin-bottom: 0 !important;
  }
  .ant-select-disabled.ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    background-color: #fff;
  }
  .ant-tabs-top > .ant-tabs-nav::before,
  .ant-tabs-bottom > .ant-tabs-nav::before,
  .ant-tabs-top > div > .ant-tabs-nav::before,
  .ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-bottom: 2px solid #e2e1e1;
  }
  .ant-tag {
    border-radius: 6px;
  }
}
.ant-input {
  border-radius: 0 !important;
}
