.signInBackGround {
  width: 100%;
  height: 100vh;
}

.ant-modal {
  border-color: #fff;
  .ant-modal-content {
    height: 500px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 12px;
  }
}
.title {
  font-weight: bold;
  font-size: 30px;
  color: #EF4036;
}
.btnForgot {
  border: none;
  font-size: 13px;
  font-weight: bold;
  box-shadow: unset;
}
.btnConfirm {
  background-color: #EF4036;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  font-size: 13px;
}
.ant-modal-close {
  display: none;
}
.forgot__password {
  .ant-modal-content {
    padding: 12px 0px 0px 0px;
    height: 260px;
    border-radius: 12px;
  }
  .ant-modal-body {
    padding: 20px;
  }
  .title__forgot {
    color: orange;
    font-size: bold;
    font-weight: bold;
  }
  .btnSend {
    background-color: #EF4036;
    color: #fff;
    width: 100px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 13px;
    margin: 0 5px;
  }
  .btnReturn {
    width: 100px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 13px;
    margin: 0 5px;
  }
}
