.ant-tabs-ink-bar {
  // border-bottom: 3px solid #EF4036;
  border-radius: 10px;
  height: 2px !important;
  background-color: #ef4036;
}
.ant-tabs-tab {
  font: normal normal normal 20px/32px Montserrat, serif;
  color: #0a2240;
  &:hover {
    color: #0a2240;
  }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #0a2240;
}
.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: none;
}
