.statisticalPage {
    .title {
        color: #0A2240;
        font-weight: 600;
        font-size: 28px;
    }
    .print {
        background-color: #77ba6a  !important;
        color: #fff;
        border: none;
        
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        padding: 10px 40px;
        white-space: nowrap;
        height: 38px;
        cursor: pointer;
        // margin-top: 10px;
        &:hover {
          background-color: #5b9e4e;
        }
        &:active {
          transform: translate(-5px,-5px);
        }
      }
    .result {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 32px;
        .rowContainer {
            margin-top: 48px;
        }
        .leftText {
            font-size: 16px;
            font-weight: 400;
            color: #748CAD;
        }
        .rightText {
            font-size: 16px;
            font-weight: 400;
            color: #0A2240;
        }
      
    }   
    .outOfArea {
        margin: 12px 0px;
        .titleOutOfArea {
            font-size: 16px;
            font-weight: 400;
            color: #748CAD;
        }
    }
    
}