.categoryPage {
    .addBtn {
      background-color: #FCB040;
      color: #fff;
      width: max-content;
      height: 40px;
      border-radius: 6px;
    }
    .bg {
        background: #fff;
        border-radius: 12px;
        padding: 10px 32px;
        .wrapperTable {
            overflow-x: auto;
            width: calc(100% + 64px);
            margin-left: -32px;
            margin-right: -32px;
            > div {
              width: 100%;
            }
            tr > th:first-child,
            tr > td:first-child {
              padding-left: 32px;
            }
            tr > th:last-child,
            tr > td:last-child {
              padding-right: 32px;
            }
    
        }
    }
}

