.orderBoothContainer {
    .wrapperTable {
        overflow-x: auto; 
        width: calc(100% + 64px);
        margin-left: -32px;
        margin-right: -32px;
        margin-top: 32px;
        > div {
            width: 100%;
        }
        tr > th:first-child, tr > td:first-child {
            padding-left: 32px;
        }
        tr > th:last-child, tr > td:last-child {
            padding-right: 32px;
        }
    }
    .button {
        color: #fff;
        border-radius: 6px;
        height: 38px;
        margin-bottom: 24px;
    }
    .exportButton {
        background-color: #00B517;
        width: 137px;
        
    }
    .createButton {
        background-color: #FCB040;
        width: 240px;
    }
}


